<div class="sidebar @StateCssClass">
    <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
        <Nodes>
            <DxTreeViewNode NavigateUrl="./" Text="Overview" CssClass="@rootNodeCssClass" IconCssClass="menu-icon-home menu-icon"></DxTreeViewNode>
            <DxTreeViewNode Text="Parcel Management" CssClass="@rootNodeCssClass" IconCssClass="menu-icon-products menu-icon">
                <Nodes>
                    <DxTreeViewNode Text="Manage Parcels" NavigateUrl="/parceldetails" />
                    <DxTreeViewNode Text="Parcel Tracking" NavigateUrl="/parceltracking" />
                </Nodes>
            </DxTreeViewNode>
            <DxTreeViewNode Text="Support" CssClass="@rootNodeCssClass" IconCssClass="menu-icon-support menu-icon">
                <Nodes>
                    <DxTreeViewNode Text="Check your parcel" NavigateUrl="/customertracker" />
                </Nodes>
            </DxTreeViewNode>
        </Nodes>
    </DxTreeView>
</div>

@code {
    const string rootNodeCssClass = "root-item";
    [Parameter] public string? StateCssClass { get; set; }
}