.menu-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    opacity: 0.7;
}

.menu-icon-home {
    mask-image: url("../images/icons/home.svg");
    -webkit-mask-image: url("../images/icons/home.svg");
}

.menu-icon-support {
    mask-image: url("../images/icons/support.svg");
    -webkit-mask-image: url("../images/icons/support.svg");
}

.menu-icon-contacts {
    mask-image: url("../images/icons/contacts.svg");
    -webkit-mask-image: url("../images/icons/contacts.svg");
}

.menu-icon-about {
    mask-image: url("../images/icons/about.svg");
    -webkit-mask-image: url("../images/icons/about.svg");
}
