.grid-toolbar-new,
.grid-toolbar-edit,
.grid-toolbar-delete,
.grid-toolbar-refresh,
.grid-toolbar-filter-row,
.grid-toolbar-document {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

.grid-toolbar-new {
    -webkit-mask-image: url("images/icons/grid-toolbar-new.svg");
    mask-image: url("images/icons/grid-toolbar-new.svg");
}

.grid-toolbar-edit {
    -webkit-mask-image: url("images/icons/grid-toolbar-edit.svg");
    mask-image: url("images/icons/grid-toolbar-edit.svg");
}

.grid-toolbar-delete {
    -webkit-mask-image: url("images/icons/grid-toolbar-delete.svg");
    mask-image: url("images/icons/grid-toolbar-delete.svg");
}

.grid-toolbar-refresh {
    -webkit-mask-image: url("images/icons/grid-toolbar-refresh.svg");
    mask-image: url("images/icons/grid-toolbar-refresh.svg");
}

.grid-toolbar-filter-row {
    -webkit-mask-image: url("images/icons/grid-toolbar-filter.svg");
    mask-image: url("images/icons/grid-toolbar-filter.svg");
}

.grid-toolbar-document {
    -webkit-mask-image: url("images/icons/grid-toolbar-document.svg");
    mask-image: url("images/icons/grid-toolbar-document.svg");
}
.dxbl-wait-indicator {
    --dxbl-wait-indicator-color: white;
}

.dxbl-btn.dxbl-lg {
    --dxbl-btn-line-height: 1.5rem;
}