@page "/customertracker"

@using SwiftShip.BusinessLogic;
@using SwiftShip.BusinessLogic.Models;
@using SwiftShip.BusinessLogic.BusinessLogic;
@inject IParcelBusinessLogic _parcelBusinessLogic

<h3>CustomerTracker</h3>
<div class="d-flex py-2">
    <div class="my-style">
    <DxTextBox @bind-Text="SearchText" SizeMode="SizeMode.Medium" />
    </div>
    <DxButton Text="Apply" Click="Search" CssClass="mx-2" />
</div>

@if (SearchText != null && Data != null)
{
    <Tracker Data="Data" />
}

@code {
    string? SearchText { get; set; }
    private CustomerParcelModel? Data;

    private async Task Search()
    {
        Guid guid;
        if (Guid.TryParse(SearchText, out guid))
        {
            Console.WriteLine(guid);
        }
        else
        {
            Console.WriteLine("Invalid GUID format");
        }
        var result = await _parcelBusinessLogic.GetAsync(guid);
        Data = result;
        StateHasChanged();
    }
}
