@using SwiftShip.BusinessLogic.Models;

<div class="e-card">
   <DxFormLayout CssClass="e-details">
       <DxFormLayoutItem>
            @RenderDetailsItem("e-icon-address", nameof(BaseStageHistoryModel.Address), Stage.Address)
       </DxFormLayoutItem>
       <DxFormLayoutItem>
            @RenderDetailsItem("e-icon-birthdate", nameof(BaseStageHistoryModel.CreatedDate), Stage.CreatedDate.ToShortDateString())
       </DxFormLayoutItem>
   </DxFormLayout>
</div>

@code {
    [Parameter] public BaseStageHistoryModel Stage { get; set; }
    public bool Detailed { get; set; } = true;
     public bool CustomDetails { get; set; } = true;

    RenderFragment RenderDetailsItem(string iconCssClass, string caption, string value)
    {
        return
    @<div class="d-flex align-items-center">
        <div class="icon-container flex-shrink-0">
            <span class="e-icon @iconCssClass"></span>
        </div>
        <div class="text-container flex-grow-1 ms-2">
            <label>@caption:</label>
            <div>@value</div>
        </div>
    </div>;
    }
}